In [5]:
#import dependencies, then subway and eviction csvs....

# Dependencies
import pandas as pd
import os
import csv
import numpy as np
import matplotlib.pyplot as plt

In [6]:
 # identify the paths to our CSV files with variables
evictions_csv = "Evictions.clean.csv"
subways_csv = "Subway.csv"

# Read the data from both csvs into pandas
evictions = pd.read_csv(evictions_csv)
subways = pd.read_csv(subways_csv)

In [7]:
evictions.head()

,EXECUTED_DATE,RESIDENTIAL_COMMERCIAL_IND,BOROUGH,Zipcode,EVICTION_ADDRESS,Unnamed: 5
0,6/25/2018,Commercial,MANHATTAN,10001,1165 BROADWAY - ROOM 305,NaN
1,7/19/2018,Residential,MANHATTAN,10001,436 WEST 27TH DR,NaN
2,10/31/2017,Commercial,MANHATTAN,10001,370 8TH AVENUE STORE,NaN
3,7/28/2017,Commercial,MANHATTAN,10001,541 WEST 29TH STREET,NaN
4,1/10/2019,Residential,MANHATTAN,10001,221 WEST 29TH STREET,NaN

In [8]:
subways.head()

   Unnamed: 0     Line          Station_Name   Latitude  Longitude  Zipcode
0           0  Astoria          Ditmars Blvd  40.775149 -73.912074  11105.0
1           1  Astoria          Ditmars Blvd  40.774810 -73.912151  11105.0
2           2  Astoria          Ditmars Blvd  40.775025 -73.911891  11105.0
3           3  Astoria          Ditmars Blvd  40.774938 -73.912337  11105.0
4           4  Astoria  Astoria Blvd-Hoyt Av  40.770313 -73.917978  11102.0

In [9]:
#merge the two csvs on ZIP Code

evic_subway = pd.merge(evictions, subways, on="Zipcode", how = "outer")
evic_subway.head()

,EXECUTED_DATE,RESIDENTIAL_COMMERCIAL_IND,BOROUGH,Zipcode,EVICTION_ADDRESS,Unnamed: 5,Unnamed: 0,Line,Station_Name,Latitude,Longitude
0,6/25/2018,Commercial,MANHATTAN,10001.0,1165 BROADWAY - ROOM 305,NaN,30.0,Broadway,28th St,40.745089,-73.988472
1,6/25/2018,Commercial,MANHATTAN,10001.0,1165 BROADWAY - ROOM 305,NaN,31.0,Broadway,28th St,40.745299,-73.988579
2,6/25/2018,Commercial,MANHATTAN,10001.0,1165 BROADWAY - ROOM 305,NaN,340.0,8 Avenue,34th St,40.752020,-73.993352
3,6/25/2018,Commercial,MANHATTAN,10001.0,1165 BROADWAY - ROOM 305,NaN,526.0,6 Avenue,34th St,40.749615,-73.988159
4,6/25/2018,Commercial,MANHATTAN,10001.0,1165 BROADWAY - ROOM 305,NaN,527.0,6 Avenue,34th St,40.749845,-73.988254

In [ ]:
# that merge is a mess. I have multiple subway entrances within each zip code; i'm not sure what the merge gave me,
# but I want to take a diff approach. ..Figure out how many subway entrances there are in each zip code.

In [17]:
# state_counts = usa_ufo_df["state"].value_counts()
entrances_by_zip = subways["Zipcode"].value_counts()
entrances_by_zip.head()

11201.0    53
11101.0    52
10011.0    52
10019.0    46
10013.0    41
Name: Zipcode, dtype: int64

In [ ]:
 # The path to our CSV file
file = "Resources/KickstarterData.csv"

# Read our Kickstarter data into pandas
df = pd.read_csv(file)
df.head()